# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.egg-info/

# Env / secrets
.env
*.local

# Spark / data
spark-warehouse/
metastore_db/
derby.log
checkpoints/
*.crc

# OS / editor
.DS_Store
.idea/
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
